<div id='breadnbutter'>
  <% breadcrumbs.each_with_index do |crumb, index| %>
    <% unless index == 0 %>
      <joiner><%= crumb.joiner %></joiner>
    <% end %>
    <crumb><%= link_to_if(crumb.linkable, crumb.text, crumb.url) %></crumb>
  <% end %>
</div>
